* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

nav {
    display: flex;
    color: white;
    font-size: 30px;
    justify-content: space-between;
    padding: 2%;
}

#highscore:hover {
    color:white;
    text-shadow: 0 0 5px indigo;
    cursor: pointer;
}

body {
    background: grey;
}

main{ 
    align-items: center;
    display: flex;
    flex-direction: column;
}

#title {
    background: white;
    color: indigo;
    display: flex;
    width: 80%;
    margin: 2% auto;
    padding: 1%;
    border-radius: 50px;
    font-size: 50px;
    justify-content: center;
    border: 10px indigo;
    border-style: solid;
}

#startButton {
    cursor: pointer;
    background-color: white;
    color: indigo;
    width: 40%;
    padding: 1%;
    border-radius: 50px;
    font-size: 30px;
  }

section {
    background: indigo;
    color: white;
    display: flex;
    width: 80%;
    margin: 1% auto;
    padding: 1%;
    border-radius: 50px;
    font-size: 20px;
    justify-content: center;
    border: 5px white;
    border-style: dotted;
    flex-direction: column;
}

section.img {
width: 40%;
}

img {
    width: 100%;
    border: 5px white;
    border-style: solid;
    border-radius: 50px;
}

#question {
    color: white;
    width: 100%;
    padding: 1%;
    margin: 1% 0%;
    text-align: left;
}


.btn {
    cursor: pointer;
    background-color: white;
    color: indigo;
    width: 100%;
    border: 100 white;
    padding: 1%;
    margin: 1% 0%;
    text-align: left;
    border-radius: 50px;
}

.btn:hover, #startButton:hover {
    background-color: rgb(191, 152, 219);
}